* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
    background-color: rgb(236, 236, 236);
}
p
{
    text-align: justify;
}
.navbar{
    background-color: rgb(255, 255, 255);
}
.navbar-brand{
    color: rgb(34, 33, 33);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar-brand:hover{
    color: rgb(34, 33, 33);
}
.nav-link{
    color: rgb(46, 2, 82);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
    color: rgb(147, 56, 207);
}
.hamburger{
    color: rgb(46, 2, 82);
}
.nav-link:focus {
    color: rgb(46, 2, 82);
    outline: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* END Navbar */

.text-header{
    position: relative;
    top: 5rem;
}
.text-header h2{
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
}

.feature {
    display: flex;
    justify-content: center;
}
.feature .content {
    width: 60%;
    
}

.feature .content span {
    font-size: 4em;
    padding: 15px;
    text-align: center;
    padding-bottom: 0px;
}

.feature .content h2 {
    font-size: 1.5em;
}
.feature .content .card {
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 5px;
}
/* End Header Content */
@media screen and (max-width: 760px) {
    .content-2{
        order: 1;
    }
    .content-1
    {
        order: 2;
    }
    .text-header
    {
        top: 0px;
    }
    .text-header h2 {
        font-size: 2em;
    }
    .feature .content {
        width: 95%;
    }
    .feature .content span{
        text-align: start;
    }
    .feature .content hr {
        display: block;
    }
    .feature .content .card{
        margin-bottom: 1rem;
    }
    .feature .content h3
    {
        margin-top: 2rem;
    }
    
}